body {
  font-family: 'Poppins', sans-serif;
  background-color: #F4F7FC;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  display: flex;
}


.main-content {
  margin-left: 200px; /* Same width as the sidebar */
  padding: 20px;
  width: calc(100% - 200px);
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007BFF;
  padding: 10px 20px;
  border-radius: 8px;
}

.navbar a, .navbar button {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
}

.navbar a:hover, .navbar button:hover {
  text-decoration: underline;
}

.navbar button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.table-container {
  margin: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead {
  background-color: #007BFF;
  color: #fff;
}

table th, table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  font-weight: bold;
}

table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}